<!doctype  html>
<html>
  <head>
	  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global.css" />
	  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}home.css" />
	  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.16.custom.css" />
	  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-26751337-1']);
	  _gaq.push(['_setDomainName', 'slickpadz.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	  </script>
  </head>
  <body class="page home">
    <div class="header">
    </div>
    <div class="section">
		<h1>Slickpadz</h1>
    </div>
    <div class="search-wrapper clearFx section">
        <form action="search/" method="get" id="main-search" class="search-form main">
            <input type="text" name="cityState_or_zip" class="term" value="City, State or ZIP" />
            <input type="submit" value="go" class="btn" />
        </form>
    </div>
    <div class="content-wrapper clearFx section">
        <div class="content-block">
            <h2>Free To Search</h2>
            <form action="search/" method="get" id="secondary-search" class="search-form">
                <input type="text" name="cityState_or_zip" class="term" value="City, State or ZIP" />
                <input type="submit" value="go" class="btn" />
            </form>
        </div>
        <div class="content-block">
            <h2>Free To List</h2>
        </div>
        <div class="content-block">
            <h2>Free To Share</h2>
        </div>
    </div>
    <div id="footer">
    </div>
    <script type="text/javascript">
        var serverContext = serverContext || {};
        serverContext.suggestList = [
            "Los Angeles, CA",
            "New York, NY"
        ];
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/spz.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/spz.home.js"></script>
</body>
</html>
