<!doctype  html>
<html>
    <head>
        <title>slickpadz::search results</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">        
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}search.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-ui-1.8.16.custom.css" />
        <!-- Google Analytics tracking -->
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-26751337-1']);
            _gaq.push(['_setDomainName', 'slickpadz.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <div id="header" class="header clearFx">
            <div id="title-wrapper">
                <h1 id="title" class="title">Slickpadz</h1>
                <h2>Los Angeles</h2>
            </div>
            <a href="#">Login</a>
            <form id="filter-form" method="get" class="filter-panel">
                <div class="filter-wrapper">
                    <input type="hidden" name="rent-min" value="" />
                    <input type="hidden" name="rent-max" value="" />
                    <!--
                    <h2>Filters</h2>
                    -->
                    <div class="rent-range row" id="rent-range-row">
                        <h4>Rent Range: <span id="rent-range"></span></h4>
                        <div id="rent-range-slider" class="slider"></div>
                    </div>
                    <div class="bedrooms row" id="bedrooms-row">
                        <h4>Bedrooms</h4>
                        <div class="buttons clearFx">
                            <a id="bed-0">Studio</a>
                            <a id="bed-1">1</a>
                            <a id="bed-2">2</a>
                            <a id="bed-3">3</a>
                            <a id="bed-4">4</a>
                            <a id="bed-5">5+</a>
                        </div>
                    </div>
                    <div class="bathrooms row" id="bathrooms-row">
                        <h4>Bathrooms</h4>
                        <div class="buttons clearFx">
                            <a id="bath-1">1</a>
                            <a id="bath-2">2</a>
                            <a id="bath-3">3</a>
                            <a id="bath-4">4</a>
                            <a id="bath-5">5</a>
                        </div>
                    </div>

                    <h4>Pets</h4>
                    <input type="checkbox" name="pets" value="cats"/><label>Cats</label>
                    <input type="checkbox" name="pets" value="dogs" /><label>Dogs</label>
                    <input type="checkbox" name="pets" value="none" /><label>None</label>
                    <h4>Amenities</h4>
                    {% for filter_am in checklist %}
                    <div>
                        <input type="checkbox" name="amenities" value="{{ filter_am }}" />
                        <label>{{ filter_am }}</label>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
        <div id="content" class="content clearFx">
            <div id="main" class="main">
                <div id="map_canvas" class="map">
                    This is where the map will be.
                </div>
                <table id="data-grid" class="data-grid" width="100%">
                    <thead>
                        <tr>
                            {% for head in theaders %}
                            <th>{{ head }}</th>
                            {% endfor %}
                            {% for item in checklist %}
                            <th>{{ item }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if vacancies %}
                            {% for prop in vacancies %}
                        <tr>
                            <td>{{ prop.name }}</td>
                            <td>${{ prop.price_low }} - ${{ prop.price_high }}</td>
                            <th>{% if prop.bed == 0 %}Studio{% else %}{{ prop.bed }}{% endif %}</th>
                            <th>{{ prop.bath }}</th>
                            <td>{{ prop.prop_type }}</td>
                            {% for item in prop.amenities_list %}
                            <th>{% if item %}x{% endif %}</th>
                            {% endfor %}
                        </tr>
                            {% endfor %}
                        {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <!--
    <div id="footer" class="footer">
        This the nonchalant footer.
    </div>
    -->
    {% if false %}
        {% if checklist %}
        <ul>
        {% for item in checklist %}
            <li> {{ item }} </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if vacancies %}
        <ul>
            {% for prop in vacancies %}
            <li>
            {{ prop.address }}
            {{ prop.name }}
            {{ prop.bath }}
                <ul>
                {% for amenity in prop.amenities_list %}
                    <li>{{ amenity}}</li>
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if properties_list %}
        <ul>
        {% for prop in properties_list %}
        <li> {{ prop.name }} </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
        <script type="text/javascript">
            var serverContext = serverContext || {};
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/spz.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/spz.search.js"></script>
    </body>
</html>
