.clearFx { height: 1% }
.clearFx:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "."
}

body { text-align:center; 
	   margin:0 auto;
	   font-family: 'Arial', arial, serif;
}

#header { height:200px;
	  	  margin: 0 auto; }

h1 { color:#8A4117;
	
}

#footer { width:800px; 
		  margin: 0 auto; }



