.header { width:100%; }

h1 { margin:0; 
	 padding:0 15px 0 0; 
 	 color:#8A4117; 
	 float:left; }

#searchbar { float:left; margin:6px 0 10px 0; }


.filter-panel { float:left; height:400px; width:150px; }

.main { float:left }
.main > .map { height:400px; width:650px; }

.footer { width:100%; background-color:gray; }

.data-grid {
    border-collapse: collapse;
    border: 1px solid #000;
}
.data-grid td,
.data-grid th {
    border: 1px solid #000;
    padding: .3em .6em
}
.data-grid > thead th {
    background: #999;
}
.data-grid > tbody th { font-weight: normal }
.data-grid > tbody > tr.odd { background: #ccc }

