.header { width:100%; }

h1 { margin:0; 
	 padding:0 15px 0 0; 
 	 color:#8A4117; 
	 float:left; }

#searchbar { float:left; margin:6px 0 10px 0; }


.filter-panel { float:left; height:400px; width:150px; }

.main { float:left }
.main > .map { height:400px; width:650px; }

.footer { width:100%; background-color:gray; }



